{% extends 'base.html' %}

{% block menu%}
        {% if perms.webapp.add_product %}
    <li><a href="{% url "product:create" %}">Create</a></li>
    {% endif %}
        {% if perms.webapp.add_product %}
    <li><a href="{% url "product:update" product.pk%}">Update</a></li>
    {% endif %}
        {% if perms.webapp.add_product %}
    <li><a href="{% url "product:delete" product.pk%}">Delete</a></li>
    {% endif %}
{% endblock menu %}


{% block content %}
    <p>Name: {{ product.name_product }}
            <i class="fas fa-star{% if product.get_avg_rating < 1 %}-o empty{%endif%}"></i>
            <i class="fas fa-star{% if product.get_avg_rating < 2 %}-o empty{%endif%}"></i>
            <i class="fas fa-star{% if product.get_avg_rating < 3 %}-o empty{%endif%}"></i>
            <i class="fas fa-star{% if product.get_avg_rating < 4 %}-o empty{%endif%}"></i>
            <i class="fas fa-star{% if product.get_avg_rating < 5 %}-o empty{%endif%}"></i>
    </p>
    <p>Description: {{ product.description }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Picture: {{ product.picture }}</p>
    <button type="button" class="btn btn-secondary"><a href="{% url "product:create_review" product.pk%}">Leave feedback</a></button>
    </br>
    </br>
    </br>
        <h2>Reviews:</h2>
    {% for review in product.reviews.all %}
                      <div class="card-header">
            {{ review.author}} ({{ review.user.email }})
                            <i class="fas fa-star{% if review.rating < 1 %}-o empty{%endif%}"></i>
                            <i class="fas fa-star{% if review.rating  < 2 %}-o empty{%endif%}"></i>
                            <i class="fas fa-star{% if review.rating  < 3 %}-o empty{%endif%}"></i>
                            <i class="fas fa-star{% if review.rating  < 4 %}-o empty{%endif%}"></i>
                            <i class="fas fa-star{% if review.rating  < 5 %}-o empty{%endif%}"></i>
                          {% if perms.webapp.add_product %}
                    <a href="{% url "product:update_review" review.pk%}"><i class="far fa-edit"></i></a>
                        {% endif %}
                    {% if perms.webapp.add_product %}
                    <a href="{% url "product:delete_review" product.pk%}"><i class="fas fa-trash-alt"></i></a>
                      {% endif %}
          </div>
          <div class="card-body">
            <p class="card-text">{{ review.text_review }}</p>
                </br>
          </div>


    {% empty %}
        <p>No reviews :(</p>
    {% endfor %}

{%  endblock content %}